body{
    font-family: sans-serif;
}
article{
    width: 580px;
    margin: 60px auto;
    padding: 5px 40px;
    border-left: 2px solid #E8E8E8;
}
pre{
    display: block;
    background-color: #F6F5F3;
    border: 1px solid #E8E8E8;
    padding: 10px 5px;
    box-shadow:0 0 1px 0 #E8E8E8;
}
code{
    display: inline-block;
    background-color: #F6F5F3;
    border: 1px solid #E8E8E8;
    padding: 5px;
    box-shadow:0 0 1px 0 #E8E8E8;
    border-radius: 2px;
    color: #696969;

}
.blue {
    color: dodgerblue;
  }

  .italic {
    font-style: italic;
      color: #ADACB4;
  }

.overflow{
    overflow-x: scroll;
}